

div.card-body h5{
    height: 300px;
color: #272b66;
font-size: 50px;
font: bold;

}




div.p{



    color: #000000;
    font-size: 50px;
    font-weight: bold;
}


.section3{
    text-align: center;
}

.section3 h1{

    color: #000000;
    font-size: 50px;
    font-weight: bold;
}

.section3 h4{

color: #818181;

}



div.card-body1 h5{
    height: 300px;
color: #000000;
font-size: 60px;
font: bold;

}



div.card-body1 p{
    color: #727272;
    font-size: 20px;
    font: bold;
}

.section5 a{
    background-color: red;
    line-height: 1.6;
}

.fa-solid {
    font-size: 30px;
    margin: 50px;
    color: #ffffff;
}



.section6 h1{
    color: #ffffff;
    font-size: 25px;
}


.section6 h2{
    color: #ffffff;
    font-size: 20px;
}


.section6 .text-center{
background-color: #ff0000;
}

.section7{
    height: 50px;
    margin: 50px;
}


.section7 img{
    height: 40px;
    margin: 10px;
}


.section7 h1{

    color: #000000;
    font: bold;
    margin: 10px;
}

.section7 h3{
    color: #7a7a7a;
    font: bold;

}





